In [1]:
import logging
from winterapi import WinterAPI
from wintertoo.models import ProgramImageQuery

In [2]:
logging.getLogger("winterapi").setLevel("DEBUG")

In [3]:
winter = WinterAPI()

In [4]:
program_name = "2023A002"
start_date = "20230721"
end_date = "20230730"

# Query by program

In [5]:
res, images = winter.query_images_by_program(program_name, image_type="exposure", start_date=start_date, end_date=end_date)

Querying images for 2023A002 between 20230721 and 20230730 of type 'exposure'
program_name='2023A002' start_date=20230721 end_date=20230730 kind='exposure'

In [6]:
res.json()["msg"]

'Request passed validation! Found 67 images.'

In [7]:
images

,progname,nightdate,targname,ra,dec,fid,utctime,fieldid,image_type,savepath
0,2023A002,2023-07-29,None,211.674838,54.023881,2,2023-07-29T11:14:15.923000+00:00,3944,exposure,None
1,2023A002,2023-07-29,None,211.703027,53.973475,3,2023-07-29T11:32:21.242000+00:00,3944,exposure,None
2,2023A002,2023-07-29,None,211.641702,54.035399,3,2023-07-29T11:34:28.476000+00:00,3944,exposure,None
3,2023A002,2023-07-29,None,211.602247,54.049005,1,2023-07-29T10:58:33.601000+00:00,3944,exposure,None
4,2023A002,2023-07-28,None,211.551919,54.057056,3,2023-07-28T12:18:36.003000+00:00,3944,exposure,None
...,...,...,...,...,...,...,...,...,...,...
62,2023A002,2023-07-27,SN2023ixf,211.564014,54.000018,2,2023-07-27T10:53:57.778000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
63,2023A002,2023-07-27,SN2023ixf,211.603932,53.980763,2,2023-07-27T10:56:04.654000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
64,2023A002,2023-07-27,SN2023ixf,211.600961,53.953119,2,2023-07-27T10:58:11.748000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
65,2023A002,2023-07-27,SN2023ixf,211.484563,53.959085,2,2023-07-27T11:00:18.851000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
66,2023A002,2023-07-27,SN2023ixf,211.463750,53.989283,2,2023-07-27T11:02:25.732000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...

# Query by program and target name

If you are triggering lots of requests, you might want to restrict yourself to a specific target name.
**This will only work if you specified a target name in the ToO request though**. 
So it's a good idea to do that!

In [8]:
target_name = "SN2023ixf"

In [9]:
res, images = winter.query_images_by_target_name(program_name, image_type="exposure", target_name=target_name, start_date=start_date, end_date=end_date)

Querying images for 2023A002 between 20230721 and 20230730 of type 'exposure', with name SN2023ixf
program_name='2023A002' start_date=20230721 end_date=20230730 kind='exposure' target_name='SN2023ixf'

In [10]:
res.json()["msg"]

'Request passed validation! Found 5 images.'

In [11]:
images

,progname,nightdate,targname,ra,dec,fid,utctime,fieldid,image_type,savepath
0,2023A002,2023-07-27,SN2023ixf,211.564014,54.000018,2,2023-07-27T10:53:57.778000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
1,2023A002,2023-07-27,SN2023ixf,211.603932,53.980763,2,2023-07-27T10:56:04.654000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
2,2023A002,2023-07-27,SN2023ixf,211.600961,53.953119,2,2023-07-27T10:58:11.748000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
3,2023A002,2023-07-27,SN2023ixf,211.484563,53.959085,2,2023-07-27T11:00:18.851000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
4,2023A002,2023-07-27,SN2023ixf,211.463750,53.989283,2,2023-07-27T11:02:25.732000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...

# Query by program and position (cone)

In this case, I suspect there are more images. Maybe I forgot to tag all ToO requests with the appropriate name.

You can instead search in a cone around a known position, which may pick up dome extra images.

In [13]:
res, images = winter.query_images_by_cone(program_name, image_type="exposure", ra_deg=211.564014, dec_deg=53.953119, start_date=start_date, end_date=end_date)

Querying images for 2023A002 between 20230721 and 20230730 of type 'exposure', with a radius of 1.0 degrees around 211.564014, 53.953119
program_name='2023A002' start_date=20230721 end_date=20230730 kind='exposure' ra=211.564014 dec=53.953119 radius_deg=1.0

In [14]:
res.json()["msg"]

'Request passed validation! Found 26 images.'

In [15]:
images

,progname,nightdate,targname,ra,dec,fid,utctime,fieldid,image_type,savepath
0,2023A002,2023-07-29,None,211.674838,54.023881,2,2023-07-29T11:14:15.923000+00:00,3944,exposure,None
1,2023A002,2023-07-29,None,211.703027,53.973475,3,2023-07-29T11:32:21.242000+00:00,3944,exposure,None
2,2023A002,2023-07-29,None,211.641702,54.035399,3,2023-07-29T11:34:28.476000+00:00,3944,exposure,None
3,2023A002,2023-07-29,None,211.602247,54.049005,1,2023-07-29T10:58:33.601000+00:00,3944,exposure,None
4,2023A002,2023-07-28,None,211.551919,54.057056,3,2023-07-28T12:18:36.003000+00:00,3944,exposure,None
5,2023A002,2023-07-29,None,211.579693,54.007654,2,2023-07-29T11:12:08.915000+00:00,3944,exposure,None
6,2023A002,2023-07-28,None,211.579817,54.011482,3,2023-07-28T12:20:44.046000+00:00,3944,exposure,None
7,2023A002,2023-07-29,None,211.563987,54.000012,1,2023-07-29T10:54:19.249000+00:00,3944,exposure,None
8,2023A002,2023-07-29,None,211.563971,54.000022,3,2023-07-29T11:30:13.813000+00:00,3944,exposure,None
9,2023A002,2023-07-28,None,211.563963,54.000016,1,2023-07-28T10:54:32.773000+00:00,3944,exposure,None
10,2023A002,2023-07-29,None,211.563968,54.000003,2,2023-07-29T11:05:46.324000+00:00,3944,exposure,None
11,2023A002,2023-07-28,None,211.563935,53.999989,3,2023-07-28T12:16:28.921000+00:00,3944,exposure,None
12,2023A002,2023-07-29,None,211.682929,53.952960,1,2023-07-29T11:02:47.879000+00:00,3944,exposure,None
13,2023A002,2023-07-29,None,211.619561,53.976947,3,2023-07-29T11:38:43.505000+00:00,3944,exposure,None
14,2023A002,2023-07-28,None,211.592616,53.986777,3,2023-07-28T12:24:58.300000+00:00,3944,exposure,None
15,2023A002,2023-07-29,None,211.525396,53.986620,1,2023-07-29T11:00:41.100000+00:00,3944,exposure,None
16,2023A002,2023-07-29,None,211.513125,53.982132,1,2023-07-29T10:56:26.509000+00:00,3944,exposure,None
17,2023A002,2023-07-28,None,211.508044,53.975719,3,2023-07-28T12:22:51.710000+00:00,3944,exposure,None
18,2023A002,2023-07-29,None,211.469302,54.007045,2,2023-07-29T11:10:02.560000+00:00,3944,exposure,None
19,2023A002,2023-07-29,None,211.485915,53.988701,3,2023-07-29T11:36:35.974000+00:00,3944,exposure,None
20,2023A002,2023-07-29,None,211.502436,53.916982,2,2023-07-29T11:07:54.564000+00:00,3944,exposure,None
21,2023A002,2023-07-27,SN2023ixf,211.564014,54.000018,2,2023-07-27T10:53:57.778000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
22,2023A002,2023-07-27,SN2023ixf,211.603932,53.980763,2,2023-07-27T10:56:04.654000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
23,2023A002,2023-07-27,SN2023ixf,211.600961,53.953119,2,2023-07-27T10:58:11.748000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
24,2023A002,2023-07-27,SN2023ixf,211.484563,53.959085,2,2023-07-27T11:00:18.851000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
25,2023A002,2023-07-27,SN2023ixf,211.463750,53.989283,2,2023-07-27T11:02:25.732000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...

We see that we obtain a subset of the images in our program query, but more than before! Specifically those centered at our chosen position, with a default search radius of 1 deg.

# Query by program and position (rectangle)

You can also query with a rectangle

In [16]:
res, images = winter.query_images_by_rectangle(
    program_name, start_date="20230701",
    ra_min_deg = 32., ra_max_deg=33., 
    dec_min_deg = -3., dec_max_deg = -2.,
    image_type="stack"
)

Querying images for 2023A002 between 20230701 and 20240206 of type 'stack', with RA between 32.0 and 33.0 and Dec between -3.0 and -2.0
program_name='2023A002' start_date=20230701 end_date=20240206 kind='stack' ra_min=32.0 ra_max=33.0 dec_min=-3.0 dec_max=-2.0

In [17]:
res.json()["msg"]

'Request passed validation! Found 2 images.'

In [18]:
images

,progname,nightdate,targname,ra,dec,fid,utctime,fieldid,image_type,savepath
0,2023A002,2023-07-29,None,32.402744,-2.038495,1,2023-07-29T17:26:45.891000+00:00,21155,stack,/data/loki/data/winter/20230728/final/WINTERca...
1,2023A002,2023-07-29,None,32.414180,-2.374698,1,2023-07-29T17:24:38.502000+00:00,21155,stack,/data/loki/data/winter/20230728/final/WINTERca...

# Query different image types

There are multiple types of image that can be queried by the API:

## Exposure

In [19]:
res, images = winter.query_images_by_target_name(program_name, image_type="exposure", target_name=target_name, start_date=start_date, end_date=end_date)
images

Querying images for 2023A002 between 20230721 and 20230730 of type 'exposure', with name SN2023ixf
program_name='2023A002' start_date=20230721 end_date=20230730 kind='exposure' target_name='SN2023ixf'

,progname,nightdate,targname,ra,dec,fid,utctime,fieldid,image_type,savepath
0,2023A002,2023-07-27,SN2023ixf,211.564014,54.000018,2,2023-07-27T10:53:57.778000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
1,2023A002,2023-07-27,SN2023ixf,211.603932,53.980763,2,2023-07-27T10:56:04.654000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
2,2023A002,2023-07-27,SN2023ixf,211.600961,53.953119,2,2023-07-27T10:58:11.748000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
3,2023A002,2023-07-27,SN2023ixf,211.484563,53.959085,2,2023-07-27T11:00:18.851000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...
4,2023A002,2023-07-27,SN2023ixf,211.463750,53.989283,2,2023-07-27T11:02:25.732000+00:00,3944,exposure,/Users/robertstein/Data/winter/20230726/raw/WI...

## Raw

In [20]:
res, images = winter.query_images_by_target_name(program_name, image_type="raw", target_name=target_name, start_date=start_date, end_date=end_date)
images

Querying images for 2023A002 between 20230721 and 20230730 of type 'raw', with name SN2023ixf
program_name='2023A002' start_date=20230721 end_date=20230730 kind='raw' target_name='SN2023ixf'

,progname,nightdate,targname,ra,dec,fid,utctime,fieldid,image_type,savepath
0,2023A002,2023-07-27,SN2023ixf,211.564014,54.000018,2,2023-07-27T10:53:57.778000+00:00,3944,raw,/data/loki/data/winter/20230726/raw_unpacked/W...
1,2023A002,2023-07-27,SN2023ixf,211.603932,53.980763,2,2023-07-27T10:56:04.654000+00:00,3944,raw,/data/loki/data/winter/20230726/raw_unpacked/W...
2,2023A002,2023-07-27,SN2023ixf,211.600961,53.953119,2,2023-07-27T10:58:11.748000+00:00,3944,raw,/data/loki/data/winter/20230726/raw_unpacked/W...
3,2023A002,2023-07-27,SN2023ixf,211.463750,53.989283,2,2023-07-27T11:02:25.732000+00:00,3944,raw,/data/loki/data/winter/20230726/raw_unpacked/W...
4,2023A002,2023-07-27,SN2023ixf,211.484563,53.959085,2,2023-07-27T11:00:18.851000+00:00,3944,raw,/data/loki/data/winter/20230726/raw_unpacked/W...

## Science

In [21]:
res, images = winter.query_images_by_target_name(program_name, image_type="science", target_name=target_name, start_date=start_date, end_date=end_date)
images

Querying images for 2023A002 between 20230721 and 20230730 of type 'science', with name SN2023ixf
program_name='2023A002' start_date=20230721 end_date=20230730 kind='science' target_name='SN2023ixf'

,progname,nightdate,targname,ra,dec,fid,utctime,fieldid,image_type,savepath
0,2023A002,2023-07-27,SN2023ixf,211.603932,53.980763,2,2023-07-27T10:56:04.654000+00:00,3944,science,/data/loki/data/winter/20230726/post_scamp/WIN...
1,2023A002,2023-07-27,SN2023ixf,211.600961,53.953119,2,2023-07-27T10:58:11.748000+00:00,3944,science,/data/loki/data/winter/20230726/post_scamp/WIN...
2,2023A002,2023-07-27,SN2023ixf,211.564014,54.000018,2,2023-07-27T10:53:57.778000+00:00,3944,science,/data/loki/data/winter/20230726/post_scamp/WIN...
3,2023A002,2023-07-27,SN2023ixf,211.484563,53.959085,2,2023-07-27T11:00:18.851000+00:00,3944,science,/data/loki/data/winter/20230726/post_scamp/WIN...
4,2023A002,2023-07-27,SN2023ixf,211.463750,53.989283,2,2023-07-27T11:02:25.732000+00:00,3944,science,/data/loki/data/winter/20230726/post_scamp/WIN...

## Stack

In [23]:
res, images = winter.query_images_by_target_name(program_name, image_type="stack", target_name=target_name, start_date=start_date, end_date=end_date)
images

Querying images for 2023A002 between 20230721 and 20230730 of type 'stack', with name SN2023ixf
program_name='2023A002' start_date=20230721 end_date=20230730 kind='stack' target_name='SN2023ixf'

,progname,nightdate,targname,ra,dec,fid,utctime,fieldid,image_type,savepath
0,2023A002,2023-07-27,SN2023ixf,210.9419,54.262352,2,2023-07-27T10:53:57.778000+00:00,3944,stack,/data/loki/data/winter/20230726/final/WINTERca...

## Diff

In [24]:
res, images = winter.query_images_by_target_name(program_name, image_type="diff", target_name=target_name, start_date=start_date, end_date=end_date)
images

Querying images for 2023A002 between 20230721 and 20230730 of type 'diff', with name SN2023ixf
program_name='2023A002' start_date=20230721 end_date=20230730 kind='diff' target_name='SN2023ixf'

Empty DataFrame
Columns: [progname, nightdate, targname, ra, dec, fid, utctime, fieldid, image_type, savepath]
Index: []