In [1]:
import logging
from winterapi import WinterAPI
from wintertoo.models import ProgramImageQuery

In [2]:
logging.getLogger("winterapi").setLevel("DEBUG")

In [3]:
winter = WinterAPI()

In [4]:
program_name = winter.get_programs()[0]

# Query by program

In [5]:
res, images = winter.query_images_by_program(program_name, start_date="20230701", image_type="exposure")

Querying images for 202XA000 between 20230701 and 20240202 of type 'exposure'

In [6]:
res.json()["msg"]

'Request passed validation! Found 7 images.'

In [7]:
images

,progname,nightdate,ra,dec,fid,utctime,fieldid
0,202XA000,2023-07-27,211.564014,54.000018,2,2023-07-27T10:53:57.778000+00:00,3944
1,202XA000,2023-07-27,211.603932,53.980763,2,2023-07-27T10:56:04.654000+00:00,3944
2,202XA000,2023-07-27,211.600961,53.953119,2,2023-07-27T10:58:11.748000+00:00,3944
3,202XA000,2023-07-27,211.484563,53.959085,2,2023-07-27T11:00:18.851000+00:00,3944
4,202XA000,2023-07-27,211.463750,53.989283,2,2023-07-27T11:02:25.732000+00:00,3944
5,202XA000,2023-07-27,312.599911,60.077086,4,2023-07-27T14:07:28.205000+00:00,999999999
6,202XA000,2023-07-27,313.120070,60.076267,4,2023-07-27T14:09:33.167000+00:00,999999999

# Query by program and position (cone)

If you are triggering lots of requests, you might want to restrict yourself to a spatial position. 
You can search in a cone

In [8]:
res, images = winter.query_images_by_cone(program_name, start_date="20230701", ra_deg=210.93872, dec_deg=54.260963)

Querying images for 202XA000 between 20230701 and 20240202 of type 'stack', with a radius of 1.0 degrees around 210.93872, 54.260963

In [9]:
res.json()["msg"]

'Request passed validation! Found 1 images.'

In [10]:
images

,progname,nightdate,ra,dec,fid,utctime,fieldid,savepath
0,202XA000,2023-07-27,210.93872,54.260963,2,2023-07-27T10:53:57.778000+00:00,3944,/Users/robertstein/Data/winter/20230726/final/...

We see that we obtain a subset of the images in our program query! Specifically those centered at our chosen position, with a default search radius of 1 deg.

# Query by program and position (rectangle)

You can also query with a rectangle

In [11]:
res, images = winter.query_images_by_rectangle(
    program_name, start_date="20230701",
    ra_min_deg = 300., ra_max_deg=350., 
    dec_min_deg = 55., dec_max_deg = 65.,
    image_type="raw"
)

Querying images for 202XA000 between 20230701 and 20240202 of type 'raw', with RA between 300.0 and 350.0 and Dec between 55.0 and 65.0

In [12]:
res.json()["msg"]

'Request passed validation! Found 2 images.'

In [13]:
images

,progname,nightdate,ra,dec,fid,utctime,fieldid,savepath
0,202XA000,2023-07-27,312.599911,60.077086,4,2023-07-27T14:07:28.205000+00:00,999999999,/Users/robertstein/Data/winter/20230726/raw_un...
1,202XA000,2023-07-27,313.120070,60.076267,4,2023-07-27T14:09:33.167000+00:00,999999999,/Users/robertstein/Data/winter/20230726/raw_un...

# Query different image types

There are multiple types of image that can be queried by the API:

In [14]:
res, images = winter.query_images_by_program(program_name, start_date="20230701", image_type="exposure")
images

Querying images for 202XA000 between 20230701 and 20240202 of type 'exposure'

,progname,nightdate,ra,dec,fid,utctime,fieldid
0,202XA000,2023-07-27,211.564014,54.000018,2,2023-07-27T10:53:57.778000+00:00,3944
1,202XA000,2023-07-27,211.603932,53.980763,2,2023-07-27T10:56:04.654000+00:00,3944
2,202XA000,2023-07-27,211.600961,53.953119,2,2023-07-27T10:58:11.748000+00:00,3944
3,202XA000,2023-07-27,211.484563,53.959085,2,2023-07-27T11:00:18.851000+00:00,3944
4,202XA000,2023-07-27,211.463750,53.989283,2,2023-07-27T11:02:25.732000+00:00,3944
5,202XA000,2023-07-27,312.599911,60.077086,4,2023-07-27T14:07:28.205000+00:00,999999999
6,202XA000,2023-07-27,313.120070,60.076267,4,2023-07-27T14:09:33.167000+00:00,999999999

In [15]:
res, images = winter.query_images_by_program(program_name, start_date="20230701", image_type="raw")
images

Querying images for 202XA000 between 20230701 and 20240202 of type 'raw'

,progname,nightdate,ra,dec,fid,utctime,fieldid,savepath
0,202XA000,2023-07-27,312.599911,60.077086,4,2023-07-27T14:07:28.205000+00:00,999999999,/Users/robertstein/Data/winter/20230726/raw_un...
1,202XA000,2023-07-27,313.120070,60.076267,4,2023-07-27T14:09:33.167000+00:00,999999999,/Users/robertstein/Data/winter/20230726/raw_un...
2,202XA000,2023-07-27,211.564014,54.000018,2,2023-07-27T10:53:57.778000+00:00,3944,/Users/robertstein/Data/winter/20230726/raw_un...
3,202XA000,2023-07-27,211.603932,53.980763,2,2023-07-27T10:56:04.654000+00:00,3944,/Users/robertstein/Data/winter/20230726/raw_un...
4,202XA000,2023-07-27,211.600961,53.953119,2,2023-07-27T10:58:11.748000+00:00,3944,/Users/robertstein/Data/winter/20230726/raw_un...
5,202XA000,2023-07-27,211.484563,53.959085,2,2023-07-27T11:00:18.851000+00:00,3944,/Users/robertstein/Data/winter/20230726/raw_un...
6,202XA000,2023-07-27,211.463750,53.989283,2,2023-07-27T11:02:25.732000+00:00,3944,/Users/robertstein/Data/winter/20230726/raw_un...

In [16]:
res, images = winter.query_images_by_program(program_name, start_date="20230701", image_type="stack")
images

Querying images for 202XA000 between 20230701 and 20240202 of type 'stack'

,progname,nightdate,ra,dec,fid,utctime,fieldid,savepath
0,202XA000,2023-07-27,210.93872,54.260963,2,2023-07-27T10:53:57.778000+00:00,3944,/Users/robertstein/Data/winter/20230726/final/...

In [17]:
res, images = winter.query_images_by_program(program_name, start_date="20230701", image_type="diff")
images

Querying images for 202XA000 between 20230701 and 20240202 of type 'diff'

,progname,nightdate,ra,dec,fid,utctime,fieldid,savepath
0,202XA000,2023-07-27,210.93872,54.260963,2,2023-07-27T10:53:57.778000+00:00,3944,/Users/robertstein/Data/winter/20230726/diffs/...