In [1]:
import logging
from winterapi import WinterAPI
from wintertoo.models import WinterRaDecToO

In [2]:
logging.getLogger("winterapi").setLevel("DEBUG")

In [3]:
winter = WinterAPI()

# Getting a summary of your queued ToOs

After you've submitted your ToOs, you might wonder how they are doing in the queue. You can find this out using the API.

In [4]:
program_name = "2024A000"

In [5]:
res, queue = winter.get_observatory_queue(program_name=program_name)

In [6]:
res.json()["msg"]

'Returning schedule summary for 2024A000'

In [7]:
queue

,prog_name,attempted_frac,too_schedule_name,target_names,n_entries,total_time_hours,window_start,window_end
2,2024A000,0.333333,request_2024A000_2024_02_11_10_11_56,[ZTF24aaecooj],3,0.800000,2024-02-11 18:11:25.995,2024-04-18 18:11:25.996
3,2024A000,0.000000,request_2024A000_2024_02_26_11_08_34,[ZTF24aaetnsm],1,0.266667,2024-02-26 00:00:00.000,2024-03-06 00:00:00.000
4,2024A000,0.000000,request_2024A000_2024_02_26_11_09_22,[ZTF24aaetnsm],1,0.266667,2024-02-26 00:00:00.000,2024-03-06 00:00:00.000
5,2024A000,0.000000,request_2024A000_2024_02_26_11_09_55,[ZTF24aaetnsm],1,0.250000,2024-02-26 00:00:00.000,2024-03-06 00:00:00.000
6,2024A000,0.000000,request_2024A000_2024_02_27_12_23_18,[ZTF20abwtifz],2,0.533333,2024-02-27 20:35:19.278,2024-02-28 20:20:55.279

# Checking an individual ToO

You can see when you submitted a ToO request, since the date is in the `too_schedule_name` name. Nonethless, let's imagine you have forgotten what request you submitted, and want to see what is in that schedule. We can use the schedule_details function to ask the API for this.

In [8]:
schedule_name = "request_2024A000_2024_02_27_12_23_18"

In [9]:
res, too_request = winter.get_too_details(
    too_schedule_name=schedule_name,
    program_name=program_name
)
res.json()["msg"]

'Returning details of schedule request_2024A000_2024_02_27_12_23_18'

In [10]:
# Here we see that it's the request we submitted earlier!
too_request

,targName,raDeg,decDeg,fieldID,filter,visitExpTime,singleExpTime,priority,progPI,progName,progID,validStart,validStop,observed,maxAirmass,ditherNumber,ditherStepSize,bestDetector,obsHistID
0,ZTF20abwtifz,48.398612,-2.151724,999999999,J,960.0,120.0,50.0,MKasliwal,2024A000,3,60367.857862,60368.847862,0,2.0,8,30.0,1,0
1,ZTF20abwtifz,48.398612,-2.151724,999999999,Hs,960.0,64.0,50.0,MKasliwal,2024A000,3,60367.857862,60368.847862,0,2.0,15,30.0,1,1

# Deleting Requests

Now let's imagine that you have made a horrible mistake! The dec of your target is actually 28 degrees, not 48.

You need to urgently need to delete this request! Fornuately, there is a function for this too.

In [11]:
res = winter.delete_too_request(
    too_schedule_name=schedule_name,
    program_name=program_name
)
res.json()["msg"]

'Deleted request_2024A000_2024_02_27_12_23_18'

Let's just double check to make see there is no request left. **You may need to wait up to 1 minute before changes take appear.**

In [12]:
res, queue = winter.get_observatory_queue(program_name=program_name)
print(res.json()["msg"])
queue

Returning schedule summary for 2024A000

,prog_name,attempted_frac,too_schedule_name,target_names,n_entries,total_time_hours,window_start,window_end
2,2024A000,0.333333,request_2024A000_2024_02_11_10_11_56,[ZTF24aaecooj],3,0.800000,2024-02-11 18:11:25.995,2024-04-18 18:11:25.996
3,2024A000,0.000000,request_2024A000_2024_02_26_11_08_34,[ZTF24aaetnsm],1,0.266667,2024-02-26 00:00:00.000,2024-03-06 00:00:00.000
4,2024A000,0.000000,request_2024A000_2024_02_26_11_09_22,[ZTF24aaetnsm],1,0.266667,2024-02-26 00:00:00.000,2024-03-06 00:00:00.000
5,2024A000,0.000000,request_2024A000_2024_02_26_11_09_55,[ZTF24aaetnsm],1,0.250000,2024-02-26 00:00:00.000,2024-03-06 00:00:00.000

Fortunately the request has been removed, and the queue is empty!